[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.9.27"
requests = "*"
pyvim = "*"
pyvmomi = "*"

[dev-packages]

[requires]
python_version = "3.8"
